<%= content_for :stylesheets do %>
  <!--[if IE 7]>
	<link rel='stylesheet' id='theme-ie7-css'  href='css/ie7.css' type='text/css' media='screen' />
	<![endif]-->
	<!--[if lte IE 8]>
	<link rel='stylesheet' id='theme-lte8-css'  href='css/ie.css' type='text/css' media='screen' />
	<![endif]-->
<%end%>
<!-- slider area -->
<div class="slider-wrapper theme-default" id="slider">

	<!-- cycle slider -->
	<div id="slider_area" class="cycle" style='display:none'>
  <% @page.image_pages.each do |i| %>
		<!-- slide -->
		<div class="slide">
			<!-- slide description -->
			<div class="desc">
				<!-- slide text -->
				<% unless i.caption.blank? %>
					<span class="text"><%= i.caption.html_safe %></span>
				<%end%>
			</div>
			<!-- /slide description -->

			<!-- slide background image -->
			<%= image_tag i.image.thumbnail("600x400").url, :alt=>"" %>

		</div>
		<!--/ slide -->
  <% end %>
	</div>
	<!-- / cycle slider -->

	<!-- slider buttons -->
	<div id="numbers"></div>
	<!-- / slider buttons -->

</div>
<!--/ end div #slider -->

<div class="clear"></div>
<%= raw @page.content_for :body %>
<!-- page contents -->
<div class="auto_columns">
  <%= raw @page.content_for :row_1 %>
</div>
<div class="line"></div>
<div class="auto_columns">
  <%= raw @page.content_for :row_2 %>
</div>
<div class="clear"></div>
<div class="line"></div>
<h4><%= copywriting('clients heading', {:page => @page, :default => "OUR CLIENTS"}) %></h4>
<%= render :partial => "layouts/clients" %>
<div class="clear"></div>
<!-- / page contents -->

