<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= content_for(:meta) do %>
    <%= render("/social/facebook_open_graph") if @page %>
    <meta name=viewport content="width=device-width, initial-scale=1">
  <% end %>
  <%= render '/refinery/head' %>

  <body class="default-skin">
    <%= render("social/facebook_js_sdk") if @page %>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="container">
      	<!-- background holder -->
    	<div class="background_pic_border">
		    <!-- background image -->
		    <div class="background_pic_gradient">
		      <div class="background_pic_holder"></div>
		    </div>
		    <!-- background curv graphic -->
        <div class='brown'></div>
		    <div class="grass"></div>
	    </div>
	    <!-- end div .background image -->

	    <!-- wrapper -->
	    <div id="wrapper">
        <div id="mobile_header">
          <!-- logo -->
          <div id="mobile_logo">
              <%= link_to refinery.root_path do %>
                <%= image_tag "logo.png", :alt => "In & Out Cleaning Services logo", :class => "png" %>
                <div>cleaning services</div>
              <%end%>
            </div>
            <!-- / end logo -->
            <div class="tagline">
              reliable
              <strong>excellence.</strong>
            </div>
          <!-- /logo --> 
          <!-- / Mobile Menu -->
          <div id='mobile_menu' %>
            <%= select_tag 'dropdown_nav', options_for_select(dropdown_nav_menu_options, request.path), class: 'menu dropdown-menu' %>
          </div>
        </div>
        <div id="content">
          <div class="content_top"></div><!-- curv for content top -->
	        <!-- content wrapper -->
	        <div class="content">
            <div class='announcement'>New website coming in 2017...</div>
	          <!-- sub page top bar -->
				    <div class="sub_page_top">
				      <%= render("/social/share") if @page %>
					    <!-- search -->
					    <div class="search-bar">
					      <%= render "refinery/shared/search" %>
					    </div>
					    <!-- / end div .search-bar -->

					    <div class="clear"></div>

				    </div>

        		<section id="page">
              <%= yield %>
            </section>
          </div>
          <div class="content_bottom"></div><!-- curv for content bottom -->
        </div>
        <%= render 'layouts/sidebar' %>
	      <div class="clear"></div>`
	    </div>
    	<!-- /end div #wrapper -->

	    <!-- footer -->
	    <div id="footer">
	      <footer>
          <%= render '/refinery/footer' -%>
        </footer>
	    </div>
    	<!-- / end div #footer -->
    </div>
    <!-- end div #container -->
    <%= render '/refinery/javascripts' %>
  </body>
</html>
